body {
  margin:0;
}

.app  {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  height: 80px;
  width: 100%;
  background-color: aqua;
}

.form {
  margin-top: 10px;
  background-color: bisque;
  width: 90%;
  height: 100%;
}

.genFormHolder.hoverEdit {
  background-color: blue;
}

.genForm {
  display: flex;
  flex-direction: column;
}

.genFormHolder {
  position: relative;
  z-index: 1;
}

.deleteButtonHolder {
  position: relative;
}

.iconDiv {
  display: flex;
  position: absolute;
  right:0px;
  z-index: 99;
}

.actionIcon {
  height: 30px;
  width: auto;
  padding: 10px;
}

.actionIcon.hidden {
  display: none;
}

.actionIcon:hover {
  cursor: pointer;
}

.edForm {
  display: flex;
  flex-direction: column;
}

.expForm {
  display: flex;
  flex-direction: column;
}